.Project-Section{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 20px;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}

.Project-Card {
    text-align: center;
    padding-top: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    line-height: 1.7;
    opacity: 0;
    animation: fadeIn 0.5s ease-out forwards;
    flex: 0 1 48%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.Project-Section p{
    color: #202020;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 0.9rem;
    margin-bottom: 20px;
}

.Project-Section a{
    text-decoration: none;
}

.Project-Section h2{
    margin-bottom: 5px;
}

.Project-Section button {
    font-family: 'Estedad-Medium', Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    display: inline-block;
    border: none;
    outline: 0;
    cursor: pointer;
    color: #ffffff;
    background-color: #000;
    width: 100%;
    height: 40px;
    text-align: center;
    margin-top: 10px;
}

.Project-Section button:hover{
    background-color: #1b1b1b;
}

/* Media Queries for Responsiveness */
@media (max-width: 790px) {
    .Project-Section{
        grid-template-columns: repeat(2,1fr);
    }
}