/* Bold Font */
@font-face {
    font-family: 'Estedad-Bold';
    src: url('../Fonts/Estedad/webfonts/statics/Estedad-ExtraBold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/* Normal Font */
@font-face {
    font-family: 'Estedad-Medium';
    src: url('../Fonts/Estedad/webfonts/statics/Estedad-Medium.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

* {
    cursor: default;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    height: 100vh;
    font-family: 'Estedad-Medium', Arial, Helvetica, sans-serif;
}

@keyframes slideIn {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

.sidebar {
    width: 80%;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    animation: slideIn 0.25s ease-out forwards;
}

.footer {
    position: absolute;
    bottom: 20px;
    font-size: 0.8rem;
    color: #555;
    text-align: center;
    width: 100%;
}

.profile-pic {
    box-shadow: 0px 1px 10px rgb(0, 0, 0);
    width: 120px;
    height: 120px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 15px;
    margin-top: 50px;
}

@keyframes changeBackgroundColor {
    0% {
        box-shadow: 0px 1px 10px rgb(0, 0, 0);
    }
    25% {
        box-shadow: 0px 1px 10px rgb(216, 0, 0);
    }
    100% {
        box-shadow: 0px 1px 10px rgb(0, 0, 0);
    }
}

.profile-pic:hover {
    animation: changeBackgroundColor 5s infinite;
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
}

.profile-pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.name {
    font-family: 'Estedad-Bold', Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    margin-bottom: 10px;
    text-align: center;
}

.description {
    font-size: 1rem;
    color: #555;
    text-align: center;
    margin-bottom: 50px;
}

.social-buttons {
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin-top: 10px;
}

.social-buttons a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #e0e0e0;
    text-decoration: none;
    color: #000;
    font-size: 1.5rem;
    cursor: pointer;
}

.social-buttons i {
    cursor: pointer;
}

.social-buttons a:hover {
    background-color: #d0d0d0;
}

.main-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    justify-content: space-between;
}

.content-box {
    background-color: #f9f9f9;
    font-size: 1;
    direction: rtl;
    text-align: right;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    line-height: 1.7;
    opacity: 0;
    animation: fadeIn 0.5s ease-out forwards;
    box-sizing: border-box;
}

.content-box:nth-child(3) {
    grid-column: span 2;
}


.content-box:nth-child(1) {
    animation-delay: 0.25s;
}
.content-box:nth-child(2) {
    animation-delay: 0.5s;
}
.content-box:nth-child(3) {
    animation-delay: 0.75s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.skills-title {
    font-family: 'Estedad-Bold', Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    margin-bottom: 15px;
    text-align: center;
}

.skills {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}

.skill {
    flex: 0 1 calc(33.333% - 20px); /* سه‌تایی در هر ردیف */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: right;
}

.progress-bar {
    width: 100%;
    height: 10px;
    background-color: #e0e0e0;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    margin-bottom: 5px;
}

.progress {
    height: 100%;
    background-color: rgb(20, 179, 219);
    border-radius: 5px;
    transition: width 0.3s ease-in-out;
}

.percentage {
    font-size: 0.9rem;
    color: #555;
}


.Project-Section{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 20px;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}

.Project-Section p{
    color: #202020;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 0.9rem;
    margin-bottom: 20px;
}

.Project-Section a{
    text-decoration: none;
}

.Project-Section h2{
    margin-bottom: 5px;
}

.Project-Section button {
    font-family: 'Estedad-Medium', Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    display: inline-block;
    border: none;
    outline: 0;
    cursor: pointer;
    color: #ffffff;
    background-color: #000;
    width: 100%;
    height: 40px;
    text-align: center;
    margin-top: 10px;
}

.Project-Section button:hover{
    background-color: #1b1b1b;
}

.Project-Card {
    text-align: center;
    padding-top: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    line-height: 1.7;
    opacity: 0;
    animation: fadeIn 0.5s ease-out forwards;
    flex: 0 1 48%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}




/* Media Queries for Responsiveness */
@media (max-width: 790px) {
    body {
        flex-direction: column;
    }

    .Project-Section{
        grid-template-columns: repeat(2,1fr);
    }

    .sidebar {
        width: 100%;
        padding: 10px;
        flex-direction: column;
    }

    .profile-pic {
        width: 150px;
        height: 150px;
    }

    .name {
        font-size: 1.8rem;
    }

    .description {
        font-size: 1rem;
    }

    .social-buttons {
        flex-direction: row;
        align-items: center;
    }

    .footer {
        padding-top: 40px;
        position: relative;
        font-size: 0.7rem;
    }

    .main-content {
        grid-template-columns: 1fr;
        gap: 10px;
        padding: 20px;
    }

    .content-box:nth-child(3) {
        grid-column: span 1;
    }

    .content-box {
        font-size: 0.85rem;
        flex: 0 1 100%;
    }

    .skill {
        flex: 0 1 calc(50% - 10px);
    }
}