* {
    cursor: default;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    height: 100vh;
    font-family: 'Estedad-Medium', Arial, Helvetica, sans-serif;
}

/* Media Queries for Responsiveness */
@media (max-width: 790px) {
    body {
        flex-direction: column;
    }
}